  <div class="comments">
    <table style="width:100%;">
      <% @user_comments.each do |comment| %>
        <%# I'd like to see a partial here.... %>
        <%= erb :"partials/_comment", locals: {comment: comment}  %>
      <% end %>
  </table>
</div>

