 <div class="the_new_form">
    <form action="/comments" method="post" class= "new_form">
      <input type="hidden" name="id" value="<%= to_user_id %>"/>
      <input type="text" name="title" placeholder="Comment Title"></input>
      <br>
      <input type="text" name="content" placeholder="Comment Content"></input>
      <br>
      <input type="submit">
    </form>
  </div>