 <div class="login">
    <form action='/authentication/login' method='post'>
      <input class="form-control" type='text' name='handle' placeholder='HANDLE'/><br>
      <input class="form-control" type='password' name='password' placeholder='PASSWORD'/><br>
      <input class="btn btn-default"  type='submit' value='signin'/>
    </form>
  </div>
  <br>