<div class="container" style="margin-top: 250px">
    <div class="well" style="width: 300px">
  <form action='/authentication/register_user' method='post'>
    <div class="input-group">
      <input type="text" name='first_name' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">Last Name:</span>
      <input type="text" name='last_name' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
    <span class="input-group-addon">Email Add:</span>
      <input type="text" name='email' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">Handle:</span>
      <input type="text" name='handle' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">Password:</span>
      <input type="text" name='password' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">Password:</span>
      <input type="text" name='password_confirm' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">Bio:</span>
      <input type="text" name='bio' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">Neighbourhood:</span>
      <input type="text" name='neighbourhood' class="form-control" aria-describedby="basic-addon1">
  </div>
  <div class="input-group">
      <span class="input-group-addon">URL:</span>
      <input type="text" name='url' class="form-control" aria-describedby="basic-addon1">
  </div>
  <input class="btn btn-default"  type='submit' value='sign up'/>
</form>
</div>
<div>





